<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
          <img src="../../assets/images/DCFlag.png" alt="DC Crime Heatmap">
      </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--
<div class="container-fluid">
    <div id="outerHeader" class="row">
        <div class="columns small-12 small-centered medium-uncentered medium-8">
            <div id="header">
                <span> <img class="show-for-medium-up" src="../../assets/images/DCFlag.png" alt="DC Flag Logo">DC Crime Heat Map</span>
            </div>
        </div>
        <div class="columns small-12 small-centered medium-uncentered small-push-12 medium-4">
           <div id="yearContainer">
            <a id="yearDropBtn" href="#"  class="button radius dropdown">2014</a><br>
            <ul id="yearDropItems"  class="f-dropdown">
              <li><a href="#">2014</a></li>
              <li><a href="#">2013</a></li>
              <li><a href="#">2012</a></li>
              <li><a href="#">2011</a></li>
              <li><a href="#">2010</a></li>
              <li><a href="#">2009</a></li>
              <li><a href="#">2008</a></li>
              <li><a href="#">2007</a></li>
              <li><a href="#">2006</a></li>
            </ul>
           </div>
        </div>
    </div>
</div>
-->

<div class="container-fluid">
    <div id="mapContainer">
        <ul id="layerButtons" class="button-group radius" style="display: none;">
            <li><a href="#" class="button small activeButton">Heatmap</a></li>
            <li><a href="#" class="button small">Points</a></li>
        </ul>
        <div id="map"></div>
    </div>
</div>

<div id="progressContainer">
    LOADING DATA ...
    <div id="progressBar" class="progress">
        <span class="meter"></span>
    </div>
</div>

<div id="mapLegend">
    <button id="legendToggleBtn" class="tiny">Map Legend</button>
    <div id="crimeTotals"></div>
</div>

<div id="messageModal" class="reveal-modal small" data-reveal>
    <p class="lead"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<!-- handlebars templates -->
<!---
<script id="crimeTotalsTemplate" >
    <h3>Crime Totals</h3>

    {#listCrime crimeTotals}
        {{offenseFormatted}}: {{totalFormatted}}
    {/listCrime}
</script>
--->

<div class="container-fluid">
    <footer class="footer">
      <div class="container">
          <p>Angular Fullstack v2.0.13 |
            <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
             <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
      </div>
    </footer>
</div>
